/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f9f9f9;
    color: #333;
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .logo-container {
    display: flex;
    align-items: center; 
    gap : 0;
  }
  
  .hospital-logo {
    width: 50px;
    height: auto; 
  
    margin-right: -35px;
  }
  
  .hospital-name {
    font-size: 1.5rem; 
    font-weight: bold; 
    margin-left: 150px;
    padding: 0;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
.nav a {
    margin-right: 20px;
    color: #333;
    text-decoration: none;
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .nav a:hover {
    background-color: #6501f1; 
    color: white; 
  }
  
  .buttons {
    display: flex;
    gap: 0.5rem;
  }
  
  .sign-in, .register {
    background-color: #6200ea;
    color: white;
    padding:  10px 25px;
    border: none;
    border-radius: 5px;
  }
  
  .sign-in {
    background-color: #6200ea;
  }
  
  .register {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Hero Section */
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem;
    background-color: #eef2f7;
  }
  
  .hero-text h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .hero-text p {
    margin-top: 1rem;
    color: #666;
  }
  
  .hero-image img {
    width: 300px;
    height: auto;
  }
  
  /* Biography Section */
  .biography {
    padding: 2rem;
    background-color: #fff;
    text-align: center;
  }
  
  .biography h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .biography h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #007bff;
  }
  
  .biography p {
    max-width: 600px;
    margin: 0 auto;
    color: #555;
  }
  
  .footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
  }
  
  .footer a {
    color: #fff;  
    margin-right: 20px;
    text-decoration: none;
  }